<div>
<p id ="amountalert"></p>

<div class ="home">
		<p class="text-center">WELCOME TO CURRENCY CONVERTER,LET US HELP YOU MANAGE YOUR CASH FLOW</p>
	</div>
	<div class ="container form">
<form class ="form-group" >
<legend>Convert Your Currency Now</legend>
Currency to be Converted:<select id="myselect" class="form-control">
  <option value="pounds">Pounds(British)</option>
  <option value="naira">Naira</option>
  <option value="euro">Euro(UK)</option>
  <option value="yen">Yen</option>
  <option value="dollar">Dollar(US)</option>
</select><br>

Convert to Currency:<select id="myconvert" class="form-control">
  <option value="pounds">Pounds(British)</option>
  <option value="naira">Naira</option>
  <option value="euro">Euro(UK)</option>
  <option value="yen">Yen</option>
  <option value="dollar">Dollar(US)</option>
</select><br>
AMOUNT:<input class="form-control" id="amount"><br>
<button type="button" id="submit" class ="btn btn-primary">Convert Currency</button>
</form>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="write"><u>SUCCESS</u><br>YOU HAVE CONVERTED YOUR CURRENCY TO<br></p>
  </div>

</div>



	</div>
	</div>
</div>